h1{
    color:midnightblue;
}
 
h3{
    color:darkred;
    padding: 5px;
}

ul{
    list-style-type:circle;
}

.special{
    list-style-type: disc;
    font-weight: bold;
}

table,tr,th,td {
             border:2px solid black;
             border-collapse:collapse;
             padding: 14px;
}

th{
    background-color:azure;
     
}
td{
    background-color:beige;
}



